###############################################################################
# Text
###############################################################################

* text=auto eol=lf

###############################################################################
# Shell
###############################################################################

*.sh text eol=lf

###############################################################################
# Python
###############################################################################

*.py text eol=lf

###############################################################################
# Markdown
###############################################################################

*.md text eol=lf

###############################################################################
# YAML
###############################################################################

*.yml text eol=lf
*.yaml text eol=lf

###############################################################################
# Docker
###############################################################################

Dockerfile text eol=lf

###############################################################################
# Binary files
###############################################################################

*.png binary
*.jpg binary
*.jpeg binary
*.svg text
*.zip binary
