[Unit]
Description=dvgrab-WebUI
RequiresMountsFor=/mnt/digital8/incoming
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/dvgrab-webui:latest
ContainerName=dvgrab-webui
PublishPort=5151:5000
Volume=/mnt/digital8/incoming:/captures:rw
Pull=never
PodmanArgs=--device=/dev/fw0
PodmanArgs=--device=/dev/fw1

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
